Avito_Webhook_Simple.json
{
  "name": "Avito Webhook Simple",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "avito-marketplace",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "avito-webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const webhookData = $input.all()[0].json;\nconst body = webhookData.body || webhookData;\nconst data = body.data || {};\n\n// Трансформируем данные заказа\nconst order = {\n  id: data.order_id || 'unknown',\n  status: data.status || 'unknown',\n  amount: data.total_amount || 0,\n  customer: {\n    name: data.customer?.name || 'Неизвестно',\n    phone: data.customer?.phone || 'Нет телефона',\n    email: data.customer?.email || 'Нет email'\n  },\n  items: data.items || [],\n  received_at: new Date().toISOString()\n};\n\nreturn [{ json: { order, event_type: body.event_type } }];"
      },
      "id": "transform-1",
      "name": "Transform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "378571507",
        "text": "=🛒 *Новый заказ Avito*\n\n📦 ID заказа: `{{ $json.order.id }}`\n💰 Сумма: *{{ $json.order.amount }} ₽*\n📋 Статус: {{ $json.order.status }}\n\n👤 Клиент: {{ $json.order.customer.name }}\n📱 Телефон: {{ $json.order.customer.phone }}\n📧 Email: {{ $json.order.customer.email }}\n\n🕐 Получено: {{ $json.order.received_at }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-1",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [640, 300],
      "credentials": {
        "telegramApi": {
          "name": "Telegram (Chat ID: 378571507)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', message: 'Webhook received', order_id: $json.order.id, timestamp: $now.toISO() }) }}"
      },
      "id": "response-1",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [840, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
