Avito_No_Credentials.json
{
  "name": "Avito Webhook No Credentials",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "avito-marketplace",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8572486644:AAEoc4R0nJVamvlWJhKHesQp2RGQJ8yLTjA/sendMessage",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chat_id: '378571507',\n  text: '🛒 *Новый заказ Avito*\\n\\n📦 ID: `' + ($json.body?.data?.order_id || 'unknown') + '`\\n💰 Сумма: *' + ($json.body?.data?.total_amount || 0) + ' ₽*\\n👤 Клиент: ' + ($json.body?.data?.customer?.name || 'Неизвестно') + '\\n📱 Телефон: ' + ($json.body?.data?.customer?.phone || 'Нет') + '\\n\\n⏰ ' + $now.toFormat('dd.MM.yyyy HH:mm'),\n  parse_mode: 'Markdown'\n}) }}",
        "options": {}
      },
      "id": "2",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', message: 'Webhook received', timestamp: $now.toISO() }) }}"
      },
      "id": "3",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [640, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Send to Telegram", "type": "main", "index": 0}]]
    },
    "Send to Telegram": {
      "main": [[{"node": "Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
